* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 1000px;
	min-width: 390px;
	min-height: 100vh;
	margin: auto;
	padding: 0.5em;
	
	background-color: #b5bdc9;
	font-family: "Press Start 2P", cursive;
	color: #b5bdc9; 
}

header,
aside,
main,
footer {
	border: 2px solid #ffffff;
	border-radius: 16px;
	background: #134390;
}

/* Header */
header {
	padding: 1em;
	font-size: 1em;
	text-align: center;
}

header h1 {
	margin-bottom: 0.3em;
	font-size: 2.5em;
	line-height: 1.1em;
}

h2 {
	font-size: 1em;
	line-height: 1.5em;
}

/* Wrapper for aside and main */
#wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

/* Aside - tools */
aside {
	margin: 0.5em 0.5em 0.5em 0;
	width: 150px;
	min-width: 150px;
	padding: 0.5em;
}

aside h1 {
	font-size: 1.2em;
	text-align: right;
}

aside h2 {
	border-top: 4px double #fff;
	width: 100%;
	
	font-size: 0.6em;
	line-height: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

	/* Canvas size */
#canvas-size h2 {
	color: #fafafa;
}

#size-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gridsize {
	position: relative;
	color: #134390;
}

.icon-size {
	position: absolute;
	left: 0;
	margin: 0.4em;
	width: 15px;
	padding: 7px 10px;
	
	background-color: #dcdcdc;
	text-align: center;
}

input {
	margin: 0.5em;
	border: 0;
	height: 29px;
	
	background-color: #d4d4d4;
}

.hov:hover:enabled {
	background-color: #fafafa;
}

input[type=number] {
	border: 1px solid #dcdcdc;
	padding-left: 40px;
	
	background: transparent;
	font-size: 0.8em;
	line-height: 29px;
	text-align: center;
	color: #fff;
}

#canvas-create {
	margin: 0.5em;
  	width: 97px;
}

	/* Paint color */
#color-picker {
	display: block;
	margin: 0.5em auto;
}

#color-history {
	border-collapse: collapse;
	margin: 0.5em auto;
	
}

#color-history td {
	width: 18px;
	border: 1px solid #6f78a9;
}

#color-history tr {
	height: 18px;
}

	/*	Grid options */
#grid-options {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid-on {
	margin: 0.5em auto;
	width: 97px;
}

#grid-style,
#grid-color {
	float: left;
	width: 42px;
}

input:disabled {
	opacity: 0.4;
}

/* Main */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5em 0;
}

	/* How to */
#how-to {
	width: 90%;
	padding: 0;
}

#how-to h1 {
	margin: 1em 0 3em;
}

ol {
	margin: 3em;
	padding-left: 3em;
}

li {
	margin-bottom: 1em;
	line-height: 1.5em;
}

	/* Canvas */
#canvas {
	margin: 1em;
	border-collapse: collapse;
	
	cursor: pointer;
}

#canvas td {
	box-sizing: border-box;
	border-width: 1px;
	width: 18px;
}

#canvas tr {
	height: 18px;
}

/* Footer */
footer {
	padding: 1em;
	
  	font-size: 1em;
	text-align: center;
}

/* @media */
@media (max-width: 40em) {
  main {
    flex: 1 0 auto;
  }
	
  aside {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: auto;
  }
	
  aside h1 {
	flex-basis: 100%;		
  }
}
@media (min-width: 40em) {
  header {
    display: block;
  }
	
  #wrapper {
    flex-direction: row;	
  }
	
  main {
    flex: 1 1 auto;
  }
/*
	
  aside {
    width: 20%;
  }
*/
}