* {
	margin: 0;
	padding: 0;
}

html, 
body {
	height: 100%;
}


/* Header */
header {
	min-height: 10%;
	background: #dd1100;
	font-size: 1em;
	font-family: "Press Start 2P", cursive;
	text-align: center;
}

h1 {
	padding: 0.5em 0.5em 0;
	font-size: 3em;
	line-height: 1.1em;
}

h2 {
	padding: 1.5em 0.5em;
	font-size: 1em;
	line-height: 1.5em;
}

/* Tools */
.tools {
	display: flex;
	justify-content: space-evenly;
}


form {
  display: flex;
  width: 280px;
  background: #eee;
}
.gridsize {
	height: 26px;
	margin: 2px;
/*	position: relative;*/
}
.size-icon {
	box-sizing: border-box;
	height: 22px;
	width: 22px;
	border: 1px solid black;
	border-right: none;
	background-color: #ede;
	padding: 3px 0;
	text-align: center;
	font-size: 14px;
	margin: 0;
/*	position: absolute;*/
}

input[type=number] {
/*	display: block;*/
/*	box-izing: border-box;*/
/*	width: 30px;*/
	padding: 2px 0;
	border: 1px solid black;
	border-left: none;
	font-size: 14px;
	text-align: center;
	margin: 0;
/*	position: absolute;*/
/*	left: 28px;*/
}

input[type=submit] {
  width: 60px;
  height: 60px;
}
